
@(title: String)(content: Html)



<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>

        @* Display flash messages *@
        @if(flash.containsKey("success")) {
            <p>Success Flash Message:</p>
            @flash.get("success")
        }

        @if(flash.containsKey("error")) {
            <p>Error Flash Message:</p>
            @flash.get("error")
        }

        <div style="background-color:#737373">
            <h1> Hello Welcome To The World's Best Tool Site </h1>
            <h2> Sign up First, Then Login</h2>
         </div

        @content
    </body>
</html>

